In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

from bokeh.io import push_notebook, show, output_notebook
from bokeh.plotting import figure

In [2]:
# load data
column_headings1=('start','end','name','index')
df_pir=pd.read_csv('E:\\Bristol\\Applied Data Science\\data\\train\\00001\\pir.csv',names=column_headings1)

df=pd.read_csv('E:\\Bristol\\Applied Data Science\\data\\train\\00001\\location_0.csv')

df_acc= pd.read_csv('E:\\Bristol\\Applied Data Science\\data\\train\\00001\\acceleration.csv')

In [3]:
# convert two columns of time to serial one
dfa= pd.concat([df['start'],df['end']])
dfb= dfa.to_frame()     # change to dataframe
dfb.columns= ['t']
dfb['index']= df['index'][dfb.index.values]
dfb['name']= df['name'][dfb.index.values]
dfb= dfb.sort().reset_index()
#dfb
del dfb['level_0']
dfb['t']= pd.to_timedelta(dfb['t'], unit='s')
dfb = dfb.set_index(pd.TimedeltaIndex(dfb['t']))
del dfb['t']
dfb= dfb.sort()
dfb.head()

                 index    name
00:00:45.930000      3    hall
00:00:47.130000      3    hall
00:00:47.330000      5  living
00:07:05.930000      5  living
00:07:06.230000      3    hall

In [4]:
df_pira= pd.concat([df_pir['start'],df_pir['end']])
df_pirb= df_pira.to_frame()
df_pirb.columns= ['t']
df_pirb['index']= df_pir['index'][df_pirb.index.values]
df_pirb['name']= df_pir['name'][df_pirb.index.values]
df_pirb= df_pirb.sort().reset_index()
#df_pirb
del df_pirb['index']
df_pirb['t']= pd.to_timedelta(df_pirb['t'],unit='s')
df_pirb= df_pirb.set_index(pd.TimedeltaIndex(df_pirb['t']))
#df_pirb
del df_pirb['t']
df_pirb= df_pirb.sort()
df_pirb.head()

                 level_0    name
00:00:04.608000        0   study
00:00:06.556000        0   study
00:00:15.873000        2   study
00:00:20.657000        1  stairs
00:00:22.924000        1  stairs

In [5]:
df_acca= df_acc.copy()
df_acca['t']= pd.to_timedelta(df_acc['t'],unit='s')
df_acca= df_acca.set_index(pd.TimedeltaIndex(df_acca['t']))
df_acca.head()

,t,x,y,z,Kitchen_AP,Lounge_AP,Upstairs_AP,Study_AP
00:00:00.017856,00:00:00.017856,0.944,-0.280,0.152,-93.0,-95.0,-79.0,NaN
00:00:00.067904,00:00:00.067904,0.944,-0.292,0.156,-93.0,-95.0,-79.0,NaN
00:00:00.117952,00:00:00.117952,0.946,-0.286,0.156,-93.0,-95.0,-79.0,NaN
00:00:00.168000,00:00:00.168000,0.942,-0.288,0.160,-93.0,-95.0,-79.0,NaN
00:00:00.217856,00:00:00.217856,0.946,-0.286,0.158,-90.0,-89.0,-79.0,NaN

In [6]:
dfb['map_location_index']= dfb['name'].replace(['bath', 'bed1', 'bed2', 'hall', 'kitchen', 'living', 'stairs', 'study', 'toilet'],[3, 2, 4, 1, 3, 1, 4, 2, 4])
dfb.head()

                 index    name  map_location_index
00:00:45.930000      3    hall                   1
00:00:47.130000      3    hall                   1
00:00:47.330000      5  living                   1
00:07:05.930000      5  living                   1
00:07:06.230000      3    hall                   1

In [7]:
df_pirb['map_pir_index']= df_pirb['name'].replace(['bath', 'bed1', 'bed2', 'hall', 'kitchen', 'living', 'stairs', 'study', 'toilet'],[3, 2, 4, 1, 3, 1, 4, 2, 4])
df_pirb.head()

                 level_0    name  map_pir_index
00:00:04.608000        0   study              2
00:00:06.556000        0   study              2
00:00:15.873000        2   study              2
00:00:20.657000        1  stairs              4
00:00:22.924000        1  stairs              4

In [8]:
df_accb= df_acca[['Kitchen_AP','Lounge_AP','Upstairs_AP','Study_AP']]
df_accb['plocation']= df_accb.idxmax(axis=1, skipna=True)
df_accb.head()

                 Kitchen_AP  Lounge_AP  Upstairs_AP  Study_AP    plocation
00:00:00.017856       -93.0      -95.0        -79.0       NaN  Upstairs_AP
00:00:00.067904       -93.0      -95.0        -79.0       NaN  Upstairs_AP
00:00:00.117952       -93.0      -95.0        -79.0       NaN  Upstairs_AP
00:00:00.168000       -93.0      -95.0        -79.0       NaN  Upstairs_AP
00:00:00.217856       -90.0      -89.0        -79.0       NaN  Upstairs_AP

In [9]:
df_accb['ilocation']=df_accb['plocation'].replace(['Kitchen_AP', 'Lounge_AP', 'Upstairs_AP', 'Study_AP'],[3,1,4,2])
df_accb.head()

,Kitchen_AP,Lounge_AP,Upstairs_AP,Study_AP,plocation,ilocation
00:00:00.017856,-93.0,-95.0,-79.0,NaN,Upstairs_AP,4
00:00:00.067904,-93.0,-95.0,-79.0,NaN,Upstairs_AP,4
00:00:00.117952,-93.0,-95.0,-79.0,NaN,Upstairs_AP,4
00:00:00.168000,-93.0,-95.0,-79.0,NaN,Upstairs_AP,4
00:00:00.217856,-90.0,-89.0,-79.0,NaN,Upstairs_AP,4

In [10]:
f = figure(title="pir,acceleration,location_0", plot_height=300, plot_width=900, x_axis_type="datetime")
plocation = f.circle(df_accb.index,df_accb['ilocation'], size=3, legend='acceleration') 
location = f.line(dfb.index,dfb['map_location_index'], color='#DC143C',line_width=2, legend='location_0')
pir_location=f.line(df_pirb.index,df_pirb['map_pir_index'],color='#00FA9A',legend='pir')
plocation.visible = True
location.visible = True
pir_location= True
show(f)